body {
  margin: 0;
  padding: 0;
  font-family: 'Raleway';
  font-weight: bold;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.lighter-background {
  background-image: url("utils/lighter-background.JPG");
  height: 100vh;
  width: 70%;
}

.darker-background {
  background-image: url("utils/darker-background.png");
  background-color: #f2e1cf;
  height: 100vh;
  width: 30%;
}

nav {
  /* display: flex; */
  justify-content: space-between;
  padding: 5px;
  margin-top: 20px;
}

nav ul {
  display: flex;
  list-style: none;
  margin-left: 15vh;
  padding: 0;
}

nav li {
  margin-right: 20px;
}

nav a {
  color: #e06331;
  text-decoration: none;
}

.nav-img img {
  width: 50px;
  height: auto;
  position: relative;
  bottom: 15px;
  color: #e06331;
}

.nav-darker-img img {
  width: 26px;
  height: auto;
}

.title-text {
  margin-top: 40px;
  padding: 0;
}

.title {
  font-family: 'Raleway';
  font-weight: bolder;
  text-align: center;
  color: #e06331;
  font-size: 5.5em;
  position: absolute;
  top: 25vh;
  left: 29vh;
}

.text {
  font-family: 'Raleway';
  font-weight: bolder;
  text-align: center;
  color: black;
  font-size: 12px;
  position: relative;
  margin-top: 40vh;
  padding-left: 170px;
  padding-right: 350px;
}

.vertical-text {
  writing-mode: vertical-lr;
  color: #f2e1cf;
  text-align: right;
  font-weight: bolder;
  float: right;
  font-size: 20px;
  padding-right: 100px;
}

.phone-image img {
  position: absolute;
  top: 15%;
  left: 64%;
  width: 14%;
}

.capsuna1 img {
  position: absolute;
  right: 203vh;
  bottom: 5vh;
  width: 10%;
}

.capsuna2 {
  position: absolute;
  right: 100vh;
  bottom: 80vh;

}

.para img {
  position: absolute;
  left: 100vh;
  bottom: 0;
  width: 14%;
}

button {
  padding: 5px 13px;
  border-color: black;
  border-width: 3px;
  border-radius: 30px;
  border-style: solid;
  font-family: 'Raleway';
  font-size: 13px;
  cursor: pointer;
}


.shop-now-button {
  background-color: #e06331;
  color: #f2e1cf;
  font-weight: bolder;
  left: 38vh;
  position: absolute;
  top: 70vh;
  padding-left: 20px;
  padding-right: 20px;
}

.learn-more-button {
  background-color: #f2e1cf;
  color: #e06331;
  font-weight: bolder;
  position: absolute;
  top: 70vh;
  left: 61vh;
}

.section-2 {
  display: flex;
  background-image: url("utils/orange-background.png");
  height: 80vh;
  border-top: 3px solid black;
  border-bottom: 3px solid black;
}

.our-promise-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
}

.our-promise {
  font-size: 1.8em;
  font-weight: bolder;
  padding-top: 70px;
}

.locally-sourced-products {
  text-align: center;
  font-size: 5em;
  color: #f2e1cf;
  padding-left: 100px;
  padding-right: 100px;
  /* padding-top:15px; */
}

.locally-text {
  text-align: center;
  font-size: 0.72em;
  width: 40%;
  color: #f2e1cf;
  padding-top: 20px
}

.learn-more-button-locally {
  background-color: #f2e1cf;
  color: #e06331;
  font-weight: bolder;
  margin-top: 20px;
}

.container-image-locally-1 {
  display: flex;
  flex-direction: column;
  /* position: relative; */
  justify-content:space-around;
}

.banana img{
  width: 90%;
  position: relative;
  left: 10%;
  
}

.background-points-1 img{
  width: 70%;
  position: relative;
  right: 30%;
}
.container-image-locally-2 {
  display: flex;
  flex-direction: column;
  /* position: relative; */
  justify-content:space-around;
}
.mango img {
  position: relative;
  top: -15%;
}

.background-points-2 img{
  width: 70%;
  position: relative;
  left: 40%;
 
}